NEXT_PUBLIC_CHITCHAIN_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=91562037
NEXT_PUBLIC_RPC_URL=https://testnetrpc.mstblockchain.com
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_EXPLORER=https://testnet.mstscan.com
